<div id="banner" class="podcasts_banner">
  <h1>Discover your new favorite podcast.</h1>
</div>

<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul>
    <a href="podcast_show.html">
      <li>
        <img src="images/jaysPodcast.jpg" alt="Jaythaceo Podcast">
        <div class="podcast_overview">
          <h2>Jaythaceos Podcasts</h2>
          <p class="episode_count">1 Episode</p>
        </div>
      </li>
    </a>

  <a href="podcast_show.html">
    <li>
      <img src="images/pradaPodcast.jpg" alt="Prada Podcast">
      <div class="podcast_overview">
        <h2>Jaythaceos Podcasts</h2>
        <p class="episode_count">1 Episode</p>
      </div>
    </li>
  </a>

  <a href="podcast_show.html">
    <li>
      <img src="images/marketPodcast.jpg" alt="Market Podcast">
      <div class="podcast_overview">
        <h2>Jaythaceos Podcasts</h2>
        <p class="episode_count">1 Episode</p>
      </div>
    </li>
  </a>

  <a href="podcast_show.html">
    <li>
      <img src="images/ghettoPodcast.jpg" alt="Ghetto Podcast">
      <div class="podcast_overview">
        <h2>Jaythaceos Podcasts</h2>
        <p class="episode_count">1 Episode</p>
      </div>
    </li>
  </a>

  <a href="podcast_show.html">
    <li>
      <img src="images/bikePodcasts.jpg" alt="Bike Podcast">
      <div class="podcast_overview">
        <h2>Jaythaceos Podcasts</h2>
        <p class="episode_count">1 Episode</p>
      </div>
    </li>
  </a>
  </ul>
  </div>
</div>
